{% extends "base.html" %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-danger">Oups</h1>
    <p class="lead">Sorry, </p>
    
    {% if current_user.is_authenticated %}
        <p>you don't have permission to access this page.</p>
    {% else %}
        <p>You need to log in to access this page, click the button bellow</p>
        <a href="{{ url_for('auth.login', next=request.url) }}" class="btn btn-primary">Log In</a>
    {% endif %}
    
    <p class="mt-3"><a href="{{ url_for('main.home') }}">Return to Home</a></p>
</div>
{% endblock %}