<div id="tts-settings" class="section">
    <h2>Text-to-Speech (TTS) Settings</h2>

    <h3>Overview</h3>
    <p>AI-Quizzer utilizes your browser's built-in Text-to-Speech technology to read questions and results aloud. This feature enhances accessibility, aids younger learners, benefits those with visual impairments, and caters to auditory learners.</p>

    <h3>Initial Setup</h3>
    <p>We initially select the language based on your browser settings. On Chrome browsers, we preset the filter to "Google" plus your browser language, as we've found Google voices to work best. However, you're free to customize this experience to your preferences.</p>

    <h3>Customizing Your TTS Experience</h3>
    <ol>
        <li><strong>Selecting Voices:</strong>
            <ul>
                <li>Open the TTS Settings to access the voice selection dropdown.</li>
                <li>Use the filter feature to navigate the potentially overwhelming number of voice options.</li>
                <li>Available voices vary based on your operating system and browser.</li>
                <li>Tip: On Chrome devices, search for "Google" voices for the highest quality.</li>
            </ul>
        </li>
        <li><strong>Choosing Language:</strong>
            <ul>
                <li>Select your preferred language for TTS output.</li>
                <li>AI-Quizzer supports multiple languages for questions and feedback.</li>
            </ul>
        </li>
        <li><strong>Adjusting Speech Rate:</strong>
            <ul>
                <li>Use the speed slider to set a comfortable pace for the speech.</li>
            </ul>
        </li>
        <li><strong>Enabling Auto-Read:</strong>
            <ul>
                <li>Toggle the "Automatically read results aloud" option.</li>
                <li>When enabled, questions and feedback will be read automatically.</li>
            </ul>
        </li>
    </ol>

    <h3>Future Improvements</h3>
    <p>We are continuously working to enhance your experience. Plans are in place to integrate more advanced TTS frameworks as soon as they become available, which will further improve the quality and versatility of our text-to-speech feature.</p>
    <h3>How To: Text To Speach Settings</h3>
    <div class="video-container">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/gf1KW2R0PlM" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>