{% extends "base.html" %}

{% block content %}
<h1>Welcome to Book-Scan-Quizz</h1>

{% if current_user.is_authenticated %}
    <p>Hello, {{ session['user']['first_name'] }}! Thanks for logging in with Google.</p>
    <p>Your email is: {{ session['user']['email'] }}</p>
    {% if session['user']['picture'] %}
        <img src="{{ session['user']['picture'] }}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%;">
    {% endif %}
{% else %}
    <p>This is the home page of our mobile-first website. Feel free to explore other pages using the navigation menu.</p>
    <p>You can log in using your Google account to access more features.</p>
{% endif %}

{% endblock %}