{% extends "base.html" %}
{% block content %}
    <h1>Create New Quiz</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.lng.label(class="form-label") }}
            {{ form.lng(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.target_lng.label(class="form-label") }}
            {{ form.target_lng(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.type.label(class="form-label") }}
            {{ form.type(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.images.label(class="form-label") }}
            {{ form.images(class="form-control", accept="image/*", multiple=true) }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}