{% extends "base.html" %}
{% block content %}
    <h1>Edit Question for Quiz: {{ quiz.title }}</h1>
    <form method="POST" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.question_text.label(class="form-label") }}
            {{ form.question_text(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.answer.label(class="form-label") }}
            {{ form.answer(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.difficulty_level.label(class="form-label") }}
            {{ form.difficulty_level(class="form-select") }}
        </div>
         <div class="mb-3">
            {{ form.position.label(class="form-label") }}
            {{ form.position(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}